
    html, body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
	padding: 20 20px;
	overflow:auto;
}

#canvas {
    /* margin-top: 20px; */
    cursor: url('pencilsmall.png') -10 40, pointer;
}
.ui.menu .ui.dropdown.item .menu>.item:hover {
    background: #ffab91 !important;
}

.ui.menu .ui.dropdown .menu .item{
    background: #dddddd!important;
}


.editButton:hover {
    background-color: #fff;
}

.centang {
    /* width: 50px !important; */
    height: 15px !important;
}

.editButton {
    text-align: center;
	border:2px solid;
    border-radius: 0.28571429rem;
	height: 30;
	width: 45px;
	padding: 5 5;
	margin: 0 0 5 0;
	font-size:16px;
    background-color: transparent;
}

[data-tooltip][data-variation]::after{
    color: black;
    background: yellow;
    white-space: pre;
}

		.ui.form input:not([number]){
			width: 50px;
			height: 25px;
			margin: 0 5 5 0;
			padding:2px;
		}
		
.reset{
    border-radius: 0.28571429rem;
    color: black;
	padding: 5px;
	font-size: 1rem;
	font-weight: 700;
    background-color: yellow;
    width: 100px;
	margin-bottom:5px;
}

.canvasGrid{
    width: 80px !important;
}

.ui.button{
	margin-bottom:5px;
}

.ui.form .fields {
	margin:0 !important;
}
.ui.table td {
	height:40px;
}

.table.ui.inverted.table {
    border: 0;
    padding: 10 10;
}
.steps {
    font-weight: 700;
    font-size: 18px;
    color: #ddd;
	margin-bottom:5px;
}

.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #3df;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e1141;}
